[submodule "elisp/external/gist.el"]
	path = elisp/external/gist.el
	url = https://github.com/mhayashi1120/gist.el.git
[submodule "elist/external/org2blog"]
	path = elist/external/org2blog
	url = https://github.com/punchagan/org2blog.git
[submodule "elisp/external/org2blog"]
	path = elisp/external/org2blog
	url = https://github.com/punchagan/org2blog.git
[submodule "elisp/external/solarized-emacs"]
        path = elisp/external/solarized-emacs
        url = https://github.com/bbatsov/solarized-emacs.git
[submodule "elisp/external/zenburn-emacs"]
        path = elisp/external/zenburn-emacs
        url = https://github.com/bbatsov/zenburn-emacs.git
